:root {
    --primary-color: #007bff; 
    --secondary-color: #6c757d; 
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-weight: 700;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


.btn-primary:hover {
    background-color: darken(var(--primary-color), 10%);
    border-color: darken(var(--primary-color), 10%);
}


#tournamentResults .card-header {
    background-color: var(--secondary-color);
    color: #fff;
}

#tournamentResults .card {
    margin-bottom: 20px;
}

/* Responsive typography */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
}
